.lienhe {
  .form-label {
    color: #000 !important;
  }
  #login-form {
    width: 100% !important;
    padding: 40px 20px;
  }
  .section-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
  }
}